<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @song.name %>
</p>

<p>
  <strong>Song length:</strong>
  <%= @song.song_length %>
</p>

<p>
  <strong>Album:</strong>
  <%= @song.album %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @song.album %>
</p>

<%= link_to 'Edit', edit_album_song_path(@song) %> |
<%= link_to 'Back', album_songs_path %>
